@charset "ISO-8859-1";
#test\:image{
	float: right;
	transition: 1s;
border-radius: 100px;
	cursor:pointer; 
	width:200px;
	height:200px;

}

#test\:image:hover{
	transition: 1s;
	width:240px;
	height:240px;
}

h1{
	display: inline-block;
}